

<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>Random Mac address</title>
        <meta name="description" content="Random Mac address">
        <meta name="author" content="Sheenan Tenepre">
    </head>
    <body>
        {% if random_mac_address %}
            <h1>{{ random_mac_address }}</h1>
        {% endif %}
        <span>The generated random mac address is automatically copied to your clipboard.</span>
        <div>
            <a href="/random-mac">Get JSON</a>
        </div>
    </body>
</html>